<script setup>
import { RouterView } from 'vue-router';
import Navbar from './components/Navbar.vue';
import { useAuthStore } from "./stores/authStore";

const authStore = useAuthStore()
</script>

<template>
  <header v-if="authStore.isAuthenticated">
    <Navbar />
  </header>
  <RouterView />
</template>
