* {
  --body-background-color: #4682b4
}

body {
  background-color: var(--body-background-color);
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}

body > a {
  background-color: lightyellow;
  color: black;
  padding: .3em .9em;
  border: .3em solid goldenrod;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
}

nav {
  max-width: 20em;
  background-color: darkorange;
  font-size: large;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: .5em .9em;
}

nav ul li a {
  display: inline-block;
  min-width: 16em;
  background-color: azure;
  color: gray;
  border: .3em solid cornflowerblue;
  padding: .3em .6em;
  text-decoration: none;
  margin-left: .2em;
}