<script>

const uuidv4 = () => {
  return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
    (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
  );
}

export default {
  data() {
    return {
      title: ''
    }
  },
  methods: {
    addTodo(e) {
      e.preventDefault()
      if (this.title.length > 0) {
        const newTodo = {
          id: uuidv4(),
          title: this.title,
          isCompleted: false
        }
        this.$emit('add-todo', newTodo)
        this.title = ''
      }
    }
  }
}
</script>

<template>
  <form class="box" @submit="addTodo">
    <div class="field">
      <div class="control">
        <input class="input" type="text" name="addTodo" placeholder="add to list..." v-model="title" />
      </div>
    </div>
  </form>
</template>