<script>
</script>

<template>
  <div class="field is-grouped">
    <p class="control">
      <button class="button" @click="$emit('all-todos')">All</button>
    </p>
    <p class="control">
      <button class="button" @click="$emit('active-todos')">Active</button>
    </p>
    <p class="control">
      <button class="button" @click="$emit('completed-todos')">Completed</button>
    </p>
  </div>
</template>