<script>
export default {
    props: ['todo']
}
</script>

<template>
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <label class="checkbox">
                    <input type="checkbox" :checked="todo.isCompleted" v-on:change="$emit('mark-completed', todo.id)">
                    {{ todo.title }}
                </label>
            </div>
        </div>
        <div class="level-right">
            <button class="button" @:click="$emit('delete-todo', todo.id)">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>
    </nav>
</template>