<script>
import AddTodo from "./AddTodo.vue";
import TodoList from "./TodoList.vue";
import FilterTodoButtons from "./FilterTodoButtons.vue";

export default {
  components: { TodoList, AddTodo, FilterTodoButtons },
  data() {
    return {
      todos: [],
      filteredTodos: []
    }
  },
  methods: {
    // gestion de tareas
    addTodo(todo) {
      this.todos.push(todo)
    },
    markCompleted(id) {
      this.todos.forEach(todo => {
        if (todo.id === id) todo.isCompleted = !todo.isCompleted
      })
    },
    deleteTodo(id) {
      let index = this.todos.findIndex(el => el.id === id)
      this.todos.splice(index, 1)
    },

    // filtrado de tareas
    allTodos() {
      this.filteredTodos = this.todos
    },
    activeTodos() {
      this.filteredTodos = this.todos.filter(todo => !todo.isCompleted)
    },
    completedTodos() {
      this.filteredTodos = this.todos.filter(todo => todo.isCompleted)
    },
  },
  created() {
    this.todos = [
      { id: '1ce3e537-b4af-4bcc-a3ce-5cf8eb942f43', title: 'Aprender a aprender', isCompleted: true },
      { id: '362e4a20-0ecb-4826-9bba-65fe79b8601f', title: 'Aprender a programar', isCompleted: false },
      { id: '9aa09360-7ba9-4ac6-8b50-9d69b8a3cea8', title: 'Aprender JS', isCompleted: false },
    ]
    this.filteredTodos = this.todos
  }
}
</script>

<template>
  <h3 class="title">Todo list</h3>
  <AddTodo v-on:add-todo="addTodo" />
  <TodoList :todos="filteredTodos" v-on:mark-completed="markCompleted" v-on:delete-todo="deleteTodo" />
  <FilterTodoButtons v-on:all-todos="allTodos" v-on:active-todos="activeTodos" v-on:completed-todos="completedTodos" />
</template>