<script>
import TodoItem from './TodoItem.vue';

export default {
  components: { TodoItem },
  props: ['todos']
}
</script>

<template>
  <ul>
    <li v-for="todo in todos" :id="todo.id">
      <TodoItem :todo="todo" v-on:mark-completed="$emit('mark-completed', todo.id)" v-on:delete-todo="$emit('delete-todo', todo.id)" />
    </li>
  </ul>
</template>