<template>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="">
        <p class="title">
          About
        </p>
        <p class="subtitle">
          view
        </p>
      </div>
    </div>
  </section>
</template>
