<template>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="">
        <p class="title">
          <i class="fa-solid fa-pepper-hot"></i> Home
        </p>
        <p class="subtitle">
          view
        </p>
      </div>
    </div>
  </section>
</template>
