<script setup>
import { ref } from 'vue';
import { useAuthStore } from "../stores/authStore";

const authStore = useAuthStore()

const nameInput = ref('')
const lastnameInput = ref('')
const emailInput = ref('')
const passwordInput = ref('')

const handleSubmit = () => {
  //TODO: hacer validaciones sobre los valores
  authStore.register(
    nameInput.value,
    lastnameInput.value,
    emailInput.value,
    passwordInput.value
  )
}

</script>

<template>
  <section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">

            <form class="box" @submit.prevent="handleSubmit">
              <div class="field has-text-centered">
                <img src="https://placehold.co/150x150/orange/white?text=Register" alt="company logo">
              </div>

              <!-- name -->
              <div class="field">
                <label class="label">Name</label>
                <div class="control has-icons-left">
                  <input class="input" type="text" placeholder="e.g. ethien" v-model="nameInput" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

              <!-- lastname -->
              <div class="field">
                <label class="label">Lastname</label>
                <div class="control has-icons-left">
                  <input class="input" type="text" placeholder="e.g. salinas" v-model="lastnameInput" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

              <!-- email -->
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                  <input class="input" type="email" placeholder="e.g. ethien.salinas@gmail.com" v-model="emailInput"
                    required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>

              <!-- password -->
              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                  <input class="input" type="password" placeholder="*********" v-model="passwordInput" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
              </div>

              <!-- login button -->
              <div class="field">
                <button class="button is-success">Register</button>
              </div>

              <!-- login -->
              <div class="field has-text-right has-text-link">
                <label>
                  <RouterLink to="/login">Login</RouterLink>
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>