<script setup>
import { ref } from "vue";
import { useTodoStore } from "../stores/todos";

const taskStore = useTodoStore();
const newTask = ref('')
const handleSubmit = () => {
  if (newTask.value.length > 0) {
    taskStore.addTodo({
      id: uuidv4(),
      title: newTask.value,
      isCompleted: false
    })
    newTask.value = ''
  }
}

const uuidv4 = () => {
  return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
    (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
  );
}
</script>

<template>
  <div class="new-task-form">
    <form @submit.prevent="handleSubmit">
      <input type="text" placeholder="task to do..." v-model="newTask">
      <button>Add</button>
    </form>
  </div>
</template>