<script setup>
import { useTodoStore } from "../stores/todos";

const taskStore = useTodoStore()
</script>

<template>
  <nav class="filter">
    <button @click="taskStore.selectAll">All tasks</button>
    <button @click="taskStore.selectActive">Active tasks</button>
    <button @click="taskStore.selectCompleted">Completed tasks</button>
  </nav>
</template>