<script setup>
import { useTodoStore } from "../stores/todos";

const taskStore = useTodoStore()
</script>

<template>
  <header>
    <img src="../assets/logo.svg" alt="Logo vue">
    <h1>{{ taskStore.name }} todo list</h1>
  </header>
</template>