<script setup>
import { useTodoStore } from "../stores/todos";

defineProps({
  todo: {}
})

const taskStore = useTodoStore();
</script>

<template>
  <div class="task">
    <h3>{{ todo.title }}</h3>
    <div class="icons">
      <button @click="taskStore.deleteTodo(todo.id)">
        <i class="fa-solid fa-trash"></i>
      </button>
      <button @click="taskStore.markAsCompleted(todo.id)">
        <span v-if="todo.isCompleted">
          <i class="fa-solid fa-circle-check"></i>
        </span>
        <span v-else>
          <i class="fa-regular fa-circle-check"></i>
        </span>
      </button>
    </div>
  </div>
</template>