<script setup>
import TodoItem from "./TodoItem.vue";
import { useTodoStore } from "../stores/todos";

const taskStore = useTodoStore();
</script>

<template>
  <div class="task-list">
    <h3 v-if="taskStore.selectedFilter==='all'">{{taskStore.countAll}} All to do tasks</h3>
    <h3 v-if="taskStore.selectedFilter==='active'">{{taskStore.countActive}} Active to do tasks</h3>
    <h3 v-if="taskStore.selectedFilter==='completed'">{{taskStore.countCompleted}} Completed to do tasks</h3>
    <div v-for="todo in taskStore.filteredTodos" :id="todo.id">
      <TodoItem :todo="todo" />
    </div>
  </div>
</template>
