<script setup>
import AddTodoForm from "./AddTodoForm.vue";
import FilterButtons from "./FilterButtons.vue";
import TodoList from "./TodoList.vue";
</script>

<template>
  <AddTodoForm />
  <FilterButtons />
  <TodoList />
</template>