<script setup>
import Todo from './components/Todo.vue'
</script>

<template>
  <header>
    <img alt="Vue logo" class="logo" src="./assets/logo.svg" width="125" height="125" />
  </header>

  <main>
    <Todo />
  </main>
</template>
