<script setup>
import LastOrders from "../components/orders/LastOrders.vue";
import MostPopularBooks from "../components/books/MostPopularBooks.vue";
import MostLoyalCustomers from "../components/customers/MostLoyalCustomers.vue";
import { useAuthStore } from "../stores/authStore";

const authStore = useAuthStore()
</script>

<template>
  <section class="section">
    <div class="columns">
      <!--left column (menu)-->
      <div class="column is-4-tablet is-3-desktop is-2-widescreen">
        <aside class="menu">
          <p class="menu-label">Menu</p>
          <ul class="menu-list">
            <li>
              <router-link class="navbar-item" to="/">
                <span class="icon"><i class="fa-solid fa-chart-simple"></i></span>
                Dashboard
              </router-link>
            </li>
            <li>
              <router-link class="navbar-item" to="/">
                <span class="icon"><i class="fa-solid fa-book"></i></span>
                Libros
              </router-link>
            </li>
            <li>
              <router-link class="navbar-item" to="/">
                <span class="icon"><i class="fa-solid fa-person"></i></span>
                Clientes
              </router-link>
            </li>
            <li>
              <router-link class="navbar-item" to="/">
                <span class="icon"><i class="fa-solid fa-file"></i></span>
                Órdenes
              </router-link>
            </li>
          </ul>
        </aside>
      </div>
      <!--right column (content)-->
      <div class="column">

        <div class="level">
          <!--user logged-->
          <div class="level-left">
            <h2 class="subtitle">
              <span class="has-text-grey-light">Hola,</span>
              <strong>{{ authStore.user.name }} {{ authStore.user.lastname }}</strong>
            </h2>
          </div>
          <!--timeline-->
          <div class="level-right">
            <div class="select">
              <div class="select">
                <select>
                  <option>Hoy</option>
                  <option>Ayer</option>
                  <option>Esta semana</option>
                  <option selected>Este mes</option>
                  <option>Este año</option>
                  <option>Todo el tiempo</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="columns is-multiline">
          <!--indicators-->
          <div class="column is-12-tablet is-6-desktop is-3-widescreen">
            <div class="notification is-link has-text">
              <p class="title">321</p>
              <p class="sybtitle">Órdenes</p>
            </div>
          </div>
          <div class="column is-12-tablet is-6-desktop is-3-widescreen">
            <div class="notification is-info has-text">
              <p class="title">$5,678</p>
              <p class="sybtitle">Revenue</p>
            </div>
          </div>
          <div class="column is-12-tablet is-6-desktop is-3-widescreen">
            <div class="notification is-primary has-text">
              <p class="title">3,456</p>
              <p class="sybtitle">Visitantes</p>
            </div>
          </div>
          <div class="column is-12-tablet is-6-desktop is-3-widescreen">
            <div class="notification is-success has-text">
              <p class="title">35,678</p>
              <p class="sybtitle">Page views</p>
            </div>
          </div>
          <!--Last orders-->
          <div class="column is-12-tablet is-6-desktop is-4-fullhd">
            <LastOrders />
          </div>
          <!--Most popular books-->
          <div class="column is-12-tablet is-6-desktop is-4-fullhd">
            <MostPopularBooks />
          </div>
          <!--Most loyal customers-->
          <div class="column is-12-tablet is-6-desktop is-4-fullhd">
            <MostLoyalCustomers />
          </div>
        </div>

      </div>
    </div>
  </section>
</template>