<script setup>
import { useAuthStore } from "../stores/authStore";
import { ref } from "vue";

const authStore = useAuthStore()

const emailInput = ref('')
const passwordInput = ref('')

const handleSubmit = () => {
  authStore.login(emailInput.value, passwordInput.value)
}

</script>

<template>
  <section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <form class="box" @submit.prevent="handleSubmit">
              <div class="field has-text-centered">
                <img src="https://placehold.co/150x150/orange/white?text=Logo" alt="company logo">
              </div>
              <!-- email -->
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                  <input v-model="emailInput" class="input" type="email" placeholder="e.g. ethien.salinas@gmail.com"
                    required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>
              <!-- password -->
              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                  <input v-model="passwordInput" class="input" type="password" placeholder="*********" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
              </div>
              <!-- remember me -->
              <div class="field">
                <label class="checkbox">
                  <input type="checkbox">
                  Remember me
                </label>
              </div>
              <!-- login button -->
              <div class="field">
                <button class="button is-success">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>