<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Vue CDN</title>
</head>

<body>
  <a onclick="window.history.back()">Regresar</a>

  <h1>Vue CDN</h1>

  <section id="app0">
    <h2>Hello {{message}}</h2>
  </section>

  <section id="app1">
    <h2>Hola {{name}} {{lastname}}</h2>
  </section>

  <script>
    const { createApp } = Vue
    createApp({
      data() {
        return {
          message: "Vue"
        }
      }
    }).mount('#app0')

    createApp({
      data() {
        return {
          name: "Ethien",
          lastname: "Salinas"
        }
      }
    }).mount('#app1')
  </script>

</body>

</html>