<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Vue if</title>
</head>

<body>
  <a onclick="window.history.back()">Regresar</a>

  <h1>Vue if (renderizado condicional)</h1>

  <section id="app0">
    <h3>Are you new in vue?</h3>
    <p v-if="areYouNewInVue">Yes, i'm learning vue</p>
    <p v-else="areYouNewInVue">No, i'm mastering vue</p>
  </section>

  <section id="app1">
    <h3>Are you new in vue?</h3>
    <button v-if="isLoggedin">Logout</button>
    <button v-else>Login</button>
  </section>

  <script>
    const { createApp } = Vue

    createApp({
      data() {
        return {
          areYouNewInVue: false
        }
      }
    }).mount('#app0')

    createApp({
      data() {
        return {
          isLoggedin: true
        }
      }
    }).mount('#app1')
  </script>
</body>

</html>