<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Vue for</title>
</head>

<body>
  <a onclick="window.history.back()">Regresar</a>

  <h1>Vue for (list iteration)</h1>

  <section id="app0">
    <h2>Vue Tooling</h2>
    <ul>
      <li v-for="(vueTool, index) in vueTooling" :id="vueTool.id">
        <p>{{index}} {{vueTool.tool}} - {{vueTool.desc}}</p>
      </li>
    </ul>
  </section>

  <section id="app1">
    <h2>Users (jsonplaceholder)</h2>
    <ul>
      <li v-for="user in users" :id="user.id">
        <p>{{user.id}} - {{user.name}} - {{user.username}} - {{user.email}} - {{user.website}}</p>
      </li>
    </ul>
  </section>

  <script src="../data/users.js"></script>
  <script>
    const { createApp } = Vue

    createApp({
      data() {
        return {
          vueTooling: [
            { id: '5494f3a0-f1b1-4946-81bc-f951aecbb285', tool: "Vue SFC Playground", desc: "Always deployed from latest commit" },
            { id: '8414dce5-6745-493d-93d3-62c2c7aa170c', tool: "Vue + Vite on StackBlitz", desc: "IDE-like environment running actual Vite dev server in the browser" },
            { id: 'c081dec6-552d-40d8-b1d9-37a2b9a51281', tool: "Vite", desc: "it's a lightweight and fast build tool with first-class Vue SFC support" },
            { id: '3cb5870e-f3ae-4cb9-a6bd-281b982e777a', tool: "Vue CLI", desc: "Vue CLI is the official webpack-based toolchain for Vue" },
            { id: '9d0f4fe4-74f0-4750-b022-75124131e1a5', tool: "Volar", desc: "VSCode extension provides formatting for Vue SFCs out of the box" },
          ]
        }
      }
    }).mount('#app0')

    createApp({
      data() {
        return {
          users // viene del archivo users.js
        }
      }
    }).mount('#app1')
  </script>
</body>

</html>