<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Vue Components</title>
</head>

<body>
  <a onclick="window.history.back()">Regresar</a>

  <h1>Vue for (list iteration)</h1>

  <section id="app">
    <h2>Users (jsonplaceholder)</h2>
    <ul>
      <li v-for="user in users" :id="user.id">
        <user-info :id="user.id" :name="user.name" :website="user.website" />
      </li>
    </ul>
  </section>

  <script src="../data/users.js"></script>
  <script>
    const { createApp } = Vue

    const userInfoComponent = {
      props: ['id', 'name', 'website'],
      template: `<p>{{id}} - {{name}} - {{website}}</p>`,
    }

    const app = createApp({
      data() {
        return {
          users
        }
      }
    })
    app.component('user-info', userInfoComponent)
    app.mount('#app')
  </script>
</body>

</html>