<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Document</title>
</head>

<body>
  <a onclick="window.history.back()">Regresar</a>

  <h1>Vue methods (Event Handling)</h1>

  <section id="app">
    <h2>Contador</h2>
    <button @click="count++">Add 1</button>
    <p>Count is: {{ count }}</p>
  </section>

  <section id="app0">
    <h2>Vue Tooling - Métodos</h2>
    <ul>
      <li v-for="(vueTool, index) in vueTooling" :id="vueTool.id">
        <p>{{index}} <strong>{{vueTool.tool}}</strong> - {{vueTool.desc}}</p>
      </li>
    </ul>
    <button @click="addNewTool">Add vue tool</button>
    <button @click="removeTool">Remove vue tool</button>
  </section>


  <script>
    const { createApp } = Vue

    createApp({
      data() {
        return {
          count: 0
        }
      }
    }).mount('#app')

    createApp({
      data() {
        return {
          vueTooling: [
            { id: '5494f3a0-f1b1-4946-81bc-f951aecbb285', tool: "Vue SFC Playground", desc: "Always deployed from latest commit" },
            { id: '8414dce5-6745-493d-93d3-62c2c7aa170c', tool: "Vue + Vite on StackBlitz", desc: "IDE-like environment running actual Vite dev server in the browser" },
            { id: 'c081dec6-552d-40d8-b1d9-37a2b9a51281', tool: "Vite", desc: "it's a lightweight and fast build tool with first-class Vue SFC support" },
            { id: '3cb5870e-f3ae-4cb9-a6bd-281b982e777a', tool: "Vue CLI", desc: "Vue CLI is the official webpack-based toolchain for Vue" },
            { id: '9d0f4fe4-74f0-4750-b022-75124131e1a5', tool: "Volar", desc: "VSCode extension provides formatting for Vue SFCs out of the box" },
          ]
        }
      },
      methods: {
        addNewTool() {
          const newTool = { id: '5b0abd7c-44c6-49e6-9d14-e24247fbb4e3', tool: "Browser Devtools", desc: "The Vue browser devtools extension allows you to explore a Vue app's component tree" }
          this.vueTooling.push(newTool)
        },
        removeTool() {
          this.vueTooling.splice(this.vueTooling - 1, 1)
        }
      }
    }).mount('#app0')
  </script>
</body>

</html>