<script setup>
import { useAuthStore } from "../stores/authStore";

const authStore = useAuthStore()
</script>

<template>
  <nav class="navbar">
    <!--navbar-brand-->
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="https://placehold.co/300/orange/white?text=Logo" alt="certificatic logo">
      </a>
      <div class="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <!--navbar-menu-->
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <small>My Dashboard</small>
        </div>
        <div class="navbar-item">
          <router-link class="navbar-item" to="/">Home</router-link>
        </div>
        <div class="navbar-item">
          <router-link class="navbar-item" to="/about">About</router-link>
        </div>
      </div>
      <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-info" @click="authStore.logout()">
              <span class="icon">
                <i class="fa-solid fa-right-from-bracket"></i>
              </span>
              <span>Logout</span>
            </a>
          </p>
        </div>
      </div>
    </div>

    </div>
  </nav>
</template>