<script setup>
import Navbar from "./components/Navbar.vue";
import { useAuthStore } from "./stores/authStore";

const authStore = useAuthStore()
</script>

<template>
  <header v-if="authStore.isAuthenticated">
    <Navbar />
  </header>

  <main>
    <router-view></router-view>
  </main>
</template>
