<template>
  <div class="card">
    <div class="card-content">
      <h3 class="title is-4">Most loyal customers</h3>
      <!--customer 1-->
      <div class="media">
        <div class="media-left is-marginless">
          <p class="number">1</p>
        </div>
        <div class="media-content">
          <p class="title is-5 is-spaced is-marginless">
            <router-link to="/">Norma Urcadiz</router-link>
          </p>
          <p class="subtitle is-6">México, BCS</p>
        </div>
        <div class="media-right">7 orders</div>
      </div>
      <!--customer 1-->
      <div class="media">
        <div class="media-left is-marginless">
          <p class="number">1</p>
        </div>
        <div class="media-content">
          <p class="title is-5 is-spaced is-marginless">
            <router-link to="/">Gloria Ibet</router-link>
          </p>
          <p class="subtitle is-6">México, BCS</p>
        </div>
        <div class="media-right">8 orders</div>
      </div>
      <!--customer 1-->
      <div class="media">
        <div class="media-left is-marginless">
          <p class="number">1</p>
        </div>
        <div class="media-content">
          <p class="title is-5 is-spaced is-marginless">
            <router-link to="/">Patty Ocampo</router-link>
          </p>
          <p class="subtitle is-6">México, BCS</p>
        </div>
        <div class="media-right">9 orders</div>
      </div>
      <!--call to action-->
      <router-link class="button is-link is-outlined" to="/">View all customers</router-link>
    </div>
  </div>
</template>