<script setup>
import { useAuthStore } from "../stores/authStore";

const authStore = useAuthStore()
</script>

<template>
  <nav class="navbar">
    <!--navbar-brand-->
    <div class="navbar-brand">
      <a class="navbar-item" href="https://www.certificatic.org">
        <img src="https://placehold.co/300/orange/white?text=Logo" alt="certificatic logo">
      </a>
      <div class="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <!--navbar-menu-->
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <small>My company dashboard</small>
        </div>
        <div class="navbar-item">
          <router-link class="navbar-item" to="/">Home</router-link>
        </div>
        <div class="navbar-item">
          <router-link class="navbar-item" to="/about">About</router-link>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item has dropdown is-hoverable">
          <div class="navbar-link">Ethien Salinas</div>
          <div class="navbar-dropdown">
            <div class="navbar-item">
              <span class="icon">
                <i class="fa-solid fa-user"></i>
              </span>
              Perfil
            </div>
            <div class="navbar-item">
              <span class="icon">
                <i class="fa-solid fa-chart-simple"></i>
              </span>
              Estadísticas
            </div>
            <div class="navbar-item" @click="authStore.logout()">
              <!-- <button class="navbar-item" @click="authStore.logout()">Logout</button> -->
              <span class="icon">
                <i class="fa-solid fa-right-from-bracket"></i>
              </span>
              Salir
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>