<template>
  <div class="card">
    <div class="card-content">
      <h3 class="title is-4">Most popular books</h3>
      <!--book 1-->
      <div class="media">
        <div class="media-left is-marginless">
          <p class="number">1</p>
        </div>
        <div class="media-left">
          <img src="https://placehold.co/150x250/blue/white?text=t%C3%ADtulo" alt="book title" width="40px">
        </div>
        <div class="media-content">
          <p class="title is-5 is-spaced is-marginless">
            <router-link to="/">Learing Bulma</router-link>
          </p>
        </div>
        <div class="media-right">345 sold</div>
      </div>
      <!--book 2-->
      <div class="media">
        <div class="media-left is-marginless">
          <p class="number">2</p>
        </div>
        <div class="media-left">
          <img src="https://placehold.co/150x250/green/white?text=t%C3%ADtulo" alt="book title" width="40px">
        </div>
        <div class="media-content">
          <p class="title is-5 is-spaced is-marginless">
            <router-link to="/">Learing Vue</router-link>
          </p>
        </div>
        <div class="media-right">567 sold</div>
      </div>
      <!--book 3-->
      <div class="media">
        <div class="media-left is-marginless">
          <p class="number">3</p>
        </div>
        <div class="media-left">
          <img src="https://placehold.co/150x250/orange/white?text=t%C3%ADtulo" alt="book title" width="40px">
        </div>
        <div class="media-content">
          <p class="title is-5 is-spaced is-marginless">
            <router-link to="/">DevOps from zero</router-link>
          </p>
        </div>
        <div class="media-right">789 sold</div>
      </div>
      <!--call to action-->
      <router-link class="button is-link is-outlined" to="/">View all books</router-link>
    </div>
  </div>
</template>