<script setup>
import OrderItem from "./OrderItem.vue";
import { ref } from "vue";
const list = ref([
  {
    id: 987654,
    datetime: 'Apr 15, 22:06',
    customerName: 'Sharon Ramirez',
    amount: 56.98,
    status: 'Completed'
  },
  {
    id: 876543,
    datetime: 'Apr 12, 15:03',
    customerName: 'Jesica Mendoza',
    amount: 67.98,
    status: 'In progress'
  },
  {
    id: 765432,
    datetime: 'Apr 9, 12:05',
    customerName: 'Gloria Ibet',
    amount: 78.98,
    status: 'Canceled'
  },
  {
    id: 654321,
    datetime: 'Apr 9, 12:05',
    customerName: 'Gloria Ibet',
    amount: 78.98,
    status: 'New'
  },
])
</script>

<template>
  <div class="card">
    <div class="card-content">
      <h3 class="title is-4">Last orders</h3>
      <OrderItem v-for="item in list" :item="item" />
      <router-link class="button is-link is-outlined" to="/">View all orders</router-link>
    </div>
  </div>
</template>