<script setup>
defineProps({
  item: {}
})
</script>

<template>
  <div class="level">
    <div class="level-left">
      <div>
        <p class="title is-5 is-marginless">
          <router-link to="/">{{ item.id }}</router-link>
        </p>
        <small>{{ item.datetime }} by <router-link to="/">{{ item.customerName }}</router-link></small>
      </div>
    </div>
    <div class="level-right">
      <div class="has-text-right">
        <p class="title is-5 is-marginless">${{ item.amount }}</p>
        <span class="tag" :class="{
          'is-info': item.status === 'New',
          'is-success': item.status === 'Completed',
          'is-warning': item.status === 'In progress',
          'is-danger': item.status === 'Canceled',
        }">{{ item.status }}</span>
      </div>
    </div>
  </div>
</template>